In [20]:
import pandas as pd
import numpy as np
from scipy import stats

In [45]:
data=pd.read_csv("Q7.csv")

In [46]:
data

             Unnamed: 0  Points   Score    Weigh
0             Mazda RX4  3.9000  2.6200  16.4600
1         Mazda RX4 Wag  3.9000  2.8750  17.0200
2            Datsun 710  3.8500  2.3200  18.6100
3        Hornet 4 Drive  3.0800  3.2150  19.4400
4     Hornet Sportabout  3.1500  3.4400  17.0200
5               Valiant  2.7600  3.4600  20.2200
6            Duster 360  3.2100  3.5700  15.8400
7             Merc 240D  3.6900  3.1900  20.0000
8              Merc 230  3.9200  3.1500  22.9000
9              Merc 280  3.9200  3.4400  18.3000
10            Merc 280C  3.9200  3.4400  18.9000
11           Merc 450SE  3.0700  4.0700  17.4000
12           Merc 450SL  3.0700  3.7300  17.6000
13          Merc 450SLC  3.0700  3.7800  18.0000
14   Cadillac Fleetwood  2.9300  5.2500  17.9800
15  Lincoln Continental  3.0000  5.4240  17.8200
16    Chrysler Imperial  3.2300  5.3450  17.4200
17             Fiat 128  4.0800  2.2000  19.4700
18          Honda Civic  4.9300  1.6150  18.5200
19       Toyota Corolla  4.2200  1.8350  19.9000
20        Toyota Corona  3.7000  2.4650  20.0100
21     Dodge Challenger  2.7600  3.5200  16.8700
22          AMC Javelin  3.1500  3.4350  17.3000
23           Camaro Z28  3.7300  3.8400  15.4100
24     Pontiac Firebird  3.0800  3.8450  17.0500
25            Fiat X1-9  4.0800  1.9350  18.9000
26        Porsche 914-2  4.4300  2.1400  16.7000
27         Lotus Europa  3.7700  1.5130  16.9000
28       Ford Pantera L  4.2200  3.1700  14.5000
29         Ferrari Dino  3.6200  2.7700  15.5000
30        Maserati Bora  3.5400  3.5700  14.6000
31           Volvo 142E  4.1100  2.7800  18.6000
32                 Mean  3.5966  3.2173  17.8488
33               Median  3.6950  3.3250  17.7100
34                 Mode  3.9200  3.4400  17.0200
35                Range  2.1700  3.9110   8.4000
36             Variance  0.2769  0.9275   3.0934
37   Standard Deviation  0.5263  0.9630   1.7588

In [47]:
data.drop('Unnamed: 0', inplace=True, axis=1)

In [48]:
data

    Points   Score    Weigh
0   3.9000  2.6200  16.4600
1   3.9000  2.8750  17.0200
2   3.8500  2.3200  18.6100
3   3.0800  3.2150  19.4400
4   3.1500  3.4400  17.0200
5   2.7600  3.4600  20.2200
6   3.2100  3.5700  15.8400
7   3.6900  3.1900  20.0000
8   3.9200  3.1500  22.9000
9   3.9200  3.4400  18.3000
10  3.9200  3.4400  18.9000
11  3.0700  4.0700  17.4000
12  3.0700  3.7300  17.6000
13  3.0700  3.7800  18.0000
14  2.9300  5.2500  17.9800
15  3.0000  5.4240  17.8200
16  3.2300  5.3450  17.4200
17  4.0800  2.2000  19.4700
18  4.9300  1.6150  18.5200
19  4.2200  1.8350  19.9000
20  3.7000  2.4650  20.0100
21  2.7600  3.5200  16.8700
22  3.1500  3.4350  17.3000
23  3.7300  3.8400  15.4100
24  3.0800  3.8450  17.0500
25  4.0800  1.9350  18.9000
26  4.4300  2.1400  16.7000
27  3.7700  1.5130  16.9000
28  4.2200  3.1700  14.5000
29  3.6200  2.7700  15.5000
30  3.5400  3.5700  14.6000
31  4.1100  2.7800  18.6000
32  3.5966  3.2173  17.8488
33  3.6950  3.3250  17.7100
34  3.9200  3.4400  17.0200
35  2.1700  3.9110   8.4000
36  0.2769  0.9275   3.0934
37  0.5263  0.9630   1.7588

In [49]:
data.mean()

Points     3.401968
Score      3.124626
Weigh     16.762921
dtype: float64

In [50]:
data.median()

Points     3.65500
Score      3.27115
Weigh     17.51000
dtype: float64

In [51]:
stats.mode(data)

C:\Users\Varun\AppData\Local\Temp\ipykernel_1892\3267261142.py:1: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(data)

ModeResult(mode=array([[ 3.92,  3.44, 17.02]]), count=array([[4, 4, 3]]))

In [52]:
np.var(data)

Points     0.789985
Score      1.058417
Weigh     16.336237
dtype: float64

In [53]:
np.std(data)

Points    0.888811
Score     1.028794
Weigh     4.041811
dtype: float64

In [54]:
np.ptp(data)

C:\Users\Varun\anaconda3\lib\site-packages\numpy\core\_methods.py:276: FutureWarning: In a future version, DataFrame.max(axis=None) will return a scalar max over the entire DataFrame. To retain the old behavior, use 'frame.max(axis=0)' or just 'frame.max()'
  umr_maximum(a, axis, None, out, keepdims),
C:\Users\Varun\anaconda3\lib\site-packages\numpy\core\_methods.py:277: FutureWarning: In a future version, DataFrame.min(axis=None) will return a scalar min over the entire DataFrame. To retain the old behavior, use 'frame.min(axis=0)' or just 'frame.min()'
  umr_minimum(a, axis, None, None, keepdims),

Points     4.6531
Score      4.4965
Weigh     21.1412
dtype: float64

#### Q11)  
Suppose we want to estimate the average weight of an adult male in    Mexico. We draw a random sample of 2,000 men from a population of 3,000,000 men and weigh them. We find that the average person in our sample weighs 200 pounds, and the standard deviation of the sample is 30 pounds. Calculate 94%,98%,96% confidence interval?

In [1]:
from scipy.stats import norm, t
import numpy as np

n = 2000
x_bar = 200
s = 30

nppf_lower = norm.ppf(0.03, x_bar, s)
nppf_upper = norm.ppf(0.97, x_bar, s)
print("Lower Bound: {}; Upper Bound: {}".format(nppf_lower, nppf_upper))
print("Z- = {}; Z+ = {}".format(norm.ppf(0.03), norm.ppf(0.97)))

Lower Bound: 143.57619175546247; Upper Bound: 256.42380824453755
Z- = -1.880793608151251; Z+ = 1.8807936081512509

In [2]:
print("t- = {}; t+ = {}".format(t.ppf(0.01,(n-1)), t.ppf(0.99,(n-1))))

t- = -2.3282147761069725; t+ = 2.328214776106972

In [3]:
# from scipy.stats import t
t.interval(confidence = 0.98, df=1999, loc=200, scale=30/np.sqrt(2000))

(198.4381860483216, 201.5618139516784)

#### Q12)  
Below are the scores obtained by a student in tests 
    
    [34,36,36,38,38,39,39,40,40,41,41,41,41,42,42,45,49,56]

    1) Find mean, median, variance, standard deviation.
    2) What can we say about the student marks?

In [4]:
import pandas as pd

scores = [34,36,36,38,38,39,39,40,40,41,41,41,41,42,42,45,49,56]
sorted(scores)

[34, 36, 36, 38, 38, 39, 39, 40, 40, 41, 41, 41, 41, 42, 42, 45, 49, 56]

In [5]:
data = pd.DataFrame(data=scores)
data.describe()

               0
count  18.000000
mean   41.000000
std     5.052664
min    34.000000
25%    38.250000
50%    40.500000
75%    41.750000
max    56.000000

In [6]:
# intermediate rough calculations

np.sum(np.square(scores-np.mean(scores)))
scores-np.mean(scores)
np.square(scores-np.mean(scores))
434/18
np.var(scores)
np.sqrt(np.var(scores))
np.std(scores)

4.910306620885412

#### Q 20) 
Calculate probability from the given dataset for the below cases

    Data _set: Cars.csv
    Calculate the probability of MPG of Cars for the below cases.
    MPG <- Cars$MPG
    a. P(MPG>38)
    b. P(MPG<40)
    c. P(20<MPG<50)

In [7]:
from scipy.stats import norm

mpg = [53.7,50.01,50.01,45.7,50.5,45.7,50.01,46.72,46.72,42.3,44.65,39.35,39.35,44.65,45.73,44.65,42.79,39.35,
       42.79,38.9,38.41,42.83,38.31,40.47,38.31,38.41,38.41,38.41,43.47,35.4,39.43,39.43,36.29,36.29,39.53,37.96,
       37.96,34.07,34.07,31.01,35.15,35.15,34.07,35.15,35.64,34.56,34.56,35.05,31.01,29.63,29.63,29.63,29.63,24.49,
       26.85,27.86,31.11,29.63,30.13,28.86,27.35,24.61,23.52,23.52,23.61,40.05,23.1,23.1,23.1,21.27,19.68,23.2,23.2,
       19.09,19.09,18.76,36.9,19.2,34,19.83,12.1]

# 1-norm.cdf(38,np.mean(mpg),np.std(mpg))
# norm.cdf(40,np.mean(mpg),np.std(mpg))

area_A = norm.cdf(20, np.mean(mpg), np.std(mpg))
area_B = norm.cdf(50, np.mean(mpg), np.std(mpg))

area_B - area_A

0.9009780258719399

#### Q 22) 
Calculate the Z scores of 90% confidence interval,94% confidence interval, 60% confidence interval

In [8]:
from scipy.stats import norm

z60 = norm.ppf(0.6)
z90 = norm.ppf(0.9)
z94 = norm.ppf(0.94)

print("z60={}, z90={}, z94={}".format(z60,z90,z94))

z60=0.2533471031357997, z90=1.2815515655446004, z94=1.5547735945968535

#### Q 23) 
Calculate the t scores of 95% confidence interval, 96% confidence interval, 99% confidence interval for sample size of 25

In [9]:
from scipy.stats import t

t95 = t.ppf(0.95,24)
t96 = t.ppf(0.96,24)
t99 = t.ppf(0.99,24)

print("t95={}, t96={}, t99={}".format(t95,t96,t99))

t95=1.7108820799094275, t96=1.8280511719596342, t99=2.4921594731575762

<hr/>

#### Q 24)
A Government  company claims that an average light bulb lasts 270 days. A researcher randomly selects 18 bulbs for testing. The sampled bulbs last an average of 260 days, with a standard deviation of 90 days. If the CEO's claim were true, what is the probability that 18 randomly selected bulbs would have an average life of no more than 260 days

In [10]:
from scipy.stats import t
import numpy as np

mu = 270
x_bar = 260
n = 18
s = 90

t_value = (x_bar-mu)/(s/np.sqrt(n))
print("t-value = {}".format(t_value))

# calculating P-value
# For type-2 hypothesis and df = (n-1)...

p_value = 1- t.cdf(t_value, (n-1))
print("p-value = {}".format(p_value))

t-value = -0.4714045207910317
p-value = 0.6783274643290164

In [11]:
# Claim of the CEO that the average life of the bulbs produced by the company is more than 270 is true.
# Therefore the t-value corresponding to 95% confidence interval (one tailed) at 17 dof is ...
t_value1 = t.ppf(.95,17)
print("(CI=95%, one-tailed, dof=17) t_value = {}".format(t_value1))

(CI=95%, one-tailed, dof=17) t_value = 1.7396067260750672

In [12]:
mu = 260
x_bar = 306.9026314
n = 18
s = 90

t_value = (x_bar-mu)/(s/np.sqrt(n))
print("t-value = {}".format(t_value))

# calculating probability that the average life of bulbs is 260 days or more ...

p260 = t.cdf(t_value, (n-1))
print("p260 = {}".format(p260))
print("Probability that the average life of bulbs is no more than 260 days is {}".format(1-p260))

t-value = 2.21101124789554
p260 = 0.9794872424398026
Probability that the average life of bulbs is no more than 260 days is 0.020512757560197437